[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
image = "*"
imagefilter = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.9"
